<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
		    	<span class="icon-bar"></span>
		    	<span class="icon-bar"></span>
		    	<span class="icon-bar"></span>
		    </button>
			<div class="navbar-brand" href="#">在线竞拍</div>
		</div>
	    <div class="collapse navbar-collapse navbar-collapse-1">
	    	<ul class="nav navbar-nav">
	    		<li><a href="#" class="active">关于我们</a></li>
	    		<li><a href="#">联系我们</a></li>
	    		<li><a href="#">网站地图</a></li>
	    	</ul>
	    </div>
	</div>
</nav>